body {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;    /* จัดให้อยู่ด้านบน */
    justify-content: flex-start; /* จัดให้อยู่ซ้าย */
    background: #f8f9fa;
    margin: 0;
}

.card {
    width: 55vw;                /* กว้างขึ้นจากเดิม */
    min-width: 320px;
    max-width: 600px;
    margin-top: 20px;
    height: 95vh;              /* สูงเต็มหน้าจอ */
    padding: 32px 24px;
    background-color: rgba(23, 23, 23, 0.99);
    position: relative;
    z-index: 2;

    box-shadow: 0 4px 24px rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
}


#image {
    position: absolute;
    width: 900px;
    height: auto;
    max-width: none;
    top: 20px;
    left: 180px;
    z-index: 1;
    object-fit: cover;
    transition: left 1s cubic-bezier(0.77,0,0.175,1); /* เพิ่ม transition */
}

#image.animate-from-left {
    left: -1000px; /* เริ่มต้นนอกจอซ้าย */
}

h1{
    color: #fff;
    font-size: 72px;
    margin-bottom: 20px;
    margin-right: 40px;
    text-align: center;
}
.btn {
    background-color: #007bff00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.form-label {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}
.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;      /* เปลี่ยนสีขอบ */
    margin-bottom: 20px;
    background-color: #2e2e2e;          /* เปลี่ยนพื้นหลัง input */
    color: #ffffff;                     /* เปลี่ยนสีตัวอักษร */
}
.form-control:focus {
    border-color: #ffffff;           /* สีขอบตอน focus */
    background-color: #c6c6c6;
    color: #fff;
    box-shadow: 0 0 0 2px #ff416c33;
}
#image-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* ทำให้ภาพอยู่ด้านหลัง */

}